-- PROCEDIMIENTO ALMACENADO PARA MOSTRAR LOS DATOS --
CREATE PROC spmostrar_categoria 
AS
SELECT id_categoria AS ID, 
nombre_catg AS CATEGORIA, 
descripcion AS DESCRIPCION, 
estado		AS ESTADO, 
fecha		AS FECHA 
FROM tblCategoria

